@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", "sans-serif";
    position: relative;
}

#navbar-container {
    background-color: #2C3E50;
    transition: 0.4s;
    padding: 20px 5px;
}

#logo {
    transition: 0.4s;
    font-size: 28px;
}

.nav-list {
    gap: 20px;
}

.active {
    background-color: #1ABC9C;
    color: #ffffff;
    padding: 10px 5px;
    border-radius: 12px;
}

.nav-text .nav-item .nav-link{
    color: #ffffff;
}

.nav-text .nav-item .nav-link:hover {
    color: #1ABC9C;
}

.menu-btn {
    background-color: #1ABC9C;
    gap: 10px;
    border-radius: 12px;
}

.menu-icon {
    font-size: 10px;
    color: white;
}

.header {
    height: 100vh;
    background-color: #1ABC9C;
    padding: 170px 0 0;
}

.header-img {
    width: 240px;
    height: 255px;
}

.header-heading {
    font-size: 4rem;
}

.divider {
    gap: 1rem;
}

.divider-line {
    width: 7rem;
    height: 0.25rem;
    background-color: #ffffff;
}

.divider-line1 {
    width: 7rem;
    height: 0.25rem;
    background-color: #2C3E50;
}

.header-subheading {
    font-weight: 500;
}

.page-section {
    height: auto;
}

.page-section-heading {
    font-size: 48px;
    color: #2C3E50;
    font-weight: 700;
}

.portfolio {
    padding: 100px 0;
}

.portfolio-item {
    position: relative;
}

.portfolio-item-caption-content {
    position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  border-radius: 12px;
  transition: .5s ease;
  background-color: #1ABC9C;
}

.portfolio-item:hover .portfolio-item-caption-content {
    opacity: 0.8;
}

.fa-plus {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

.portfolio-img {
    width: 100%;
    border-radius: 12px;
}

.about-section {
    background-color: #1ABC9C;
    padding: 80px 0;
}

.about-text {
    font-weight: 500;
    font-size: 19px;
}

.download-icon {
    width: 18px;
}

.button-link {
    font-weight: 500;
    font-size: 18px;
}

.contact-section {
    padding: 80px 0;
}

.submit-button {
    background-color: #1ABC9C;
    border-radius: 9px;
    font-weight: 500;
    font-size: 20px;
}

.footer {
    background-color: #2C3E50;
    padding: 80px 0;
    font-size: 20px;
}

.btn-social {
    border-radius: 50%;
    padding: 10px 15px;
}

.footer-link {
    color: #1ABC9C;
}